/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f3; /* Softer background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weather-widget {
    width: 80%;
    max-width: 500px;
    background-color: #ffffff; /* Pure white for simplicity */
    margin: 20px;
    padding: 20px;
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); /* Softer shadow */
    text-align: center;
}

.weather-icon {
    width: 80px; /* Adjust size for a more minimal look */
    margin: 10px auto;
}

.location, .temperature, .feels-like, .condition {
    color: #555; /* Softer text color */
}

.location {
    font-size: 1.75em; /* Adjusted for a more elegant look */
}

.temperature {
    font-size: 3.5em;
    font-weight: normal; /* Less bold for a softer look */
}

.feels-like, .condition {
    margin: 5px 0;
}

@media only screen and (max-width: 600px) {
    .weather-widget {
        width: 95%;
        margin: 10px;
        padding: 10px;
    }

    .weather-icon {
        width: 60px;
    }

    .location {
        font-size: 1.5em;
    }

    .temperature {
        font-size: 3em;
    }
}
